/* ================= FONTS ================= */
@font-face {
  font-family: "Latin Modern Roman";
  src: url("/assets/fonts/lmroman12-regular.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Latin Modern Roman";
  src: url("/assets/fonts/lmroman10-bold.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Latin Modern Roman";
  src: url("/assets/fonts/lmroman10-italic.otf");
  font-style: italic;
}
