:root {
  --border: 0.5px solid #000;

  --font-size-s: 1.5rem;
  --font-size-m: 2.5rem;
  --font-size-l: 3rem;
  --font-size-xl: 4rem;

  --margin-s: 1rem;
  --margin-m: 2rem;
  --margin-l: 3rem;
  --margin-xl: 4rem;

  --width-full: 80vw;
}

@media screen and (max-width: 780px) {
  :root {
    --border: 0.5px solid #000;

    --font-size-3: 2rem;

    --margin-1: 1rem;
    --margin-2: 2rem;

    --width-full: 90vw;
  }
}
