html,
body,
figure,
li,
ul,
p,
blockquote {
  margin: 0;
  padding: 0;
  font-family: "Latin Modern Roman", serif;
  font-weight: 100;
  line-height: 1;
}

li {
  list-style-type: none;
}

button {
  border: none;
  border-radius: 0;
}
