*:not(body) {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

body {
  background-color: #000;
  color: #fff;
}

blockquote::before {
  content: "“ ";
}
blockquote::after {
  content: " ”";
}
figcaption::before {
  content: "— ";
}
button {
  width: 100%;
  height: 100%;
  border-bottom: var(--border);
  background-color: #fff;
  color: #000;
  cursor: pointer;
  touch-action: manipulation;
}
button:active {
  background-color: #000;
  color: #fff;
  border: none;
}
