.unvisible {
  opacity: 0;
}
.hide {
  display: none;
}
.active {
  border: 0.5px solid #fff !important;
  background-color: #000 !important;
  color: #fff !important;
}
.flex {
  display: flex;
}

.border {
  border-bottom: var(--border);
}
button.disabled {
  background-color: #ddd;
  border-bottom: var(--border);
  color: #000;
}
button.active:active {
  background-color: #fff !important;
  color: #000 !important;
}
