<script setup lang="ts">
import { useNavStore } from "../stores/navStore.js"
import { useAutoRefreshStore } from "../stores/autoRefreshStore.js"
import Text from "../components/display/Text.vue"
import Annotations from "../components/display/Annotations.vue"
import Topics from "../components/display/Topics.vue"
import Nav from "../components/display/Nav.vue"
import QRCode from "../components/display/QRCode.vue"
import { storeToRefs } from "pinia"

const autoRefreshStore = useAutoRefreshStore()
const { autoRefresh } = autoRefreshStore
autoRefresh()

const { nav } = storeToRefs(useNavStore())

const apps = {
  Text,
  Annotations,
  Nav,
  Topics,
}
</script>
<template>
  <component :is="apps[nav]"></component>
  <!-- <QRCode></QRCode> -->
</template>

<style scoped></style>
