<template>
  <ul>
    <template v-for="(app, index) in apps" :key="index">
      <li v-if="index !== 'Nav'">
        <button @click="navigateTo(index)">{{ index }}</button>
      </li>
    </template>
  </ul>
</template>

<script setup lang="ts">
import { useNavStore } from "../../stores/navStore.js"
import Nav from "../../components/control/Nav.vue"
import Annotations from "../../components/control/Annotations.vue"
import Topics from "../../components/control/Topics.vue"
import { storeToRefs } from "pinia"
import { restoreData } from "../../assets/js/api/restoreData.js"
import { onMounted } from "vue"

const { nav } = storeToRefs(useNavStore())

const apps = {
  Nav,
  Annotations,
  Topics,
}

function navigateTo(index) {
  console.log('navigateTo', index)
  nav.value = index
}

onMounted(() => {
  restoreData().then((res) => {
    console.log(res)
  })
})
</script>
