<template>
  <button id="menu" @click="nav = 'Nav'">MENU</button>
</template>

<script setup lang="ts">
import { storeToRefs } from "pinia"
import { useNavStore } from "../../stores/navStore.js"

const { nav } = storeToRefs(useNavStore())
</script>

<style scoped>
#menu {
  font-weight: bold;
  border-top: 2px solid #000;
}
</style>
