<template>
  <ul>
    <li>
      <NavBtn />
    </li>
    <li v-for="topic in topics" class="flex">
      <button @click="toggleTopic(topic)" :class="{ active: topic.isVisible }">
        {{ topic.name }}
      </button>
      <button @click="nextItem()">→</button>
    </li>
  </ul>
</template>

<script setup lang="ts">
import { storeToRefs } from "pinia"
import { useTopicStore } from "../../stores/topicStore.js"
import NavBtn from "./NavBtn.vue"

const { visibleTopic, topics } = storeToRefs(useTopicStore())
const { toggleTopic, nextItem } = useTopicStore()
</script>

<style scoped>
ul {
  transform: rotate(180deg);
}
li {
  transform: rotate(-180deg);
}
li button:nth-child(2) {
  width: 30%;
}
</style>
