<script setup lang="ts">
import { useAnnotationStore } from "../../stores/annotationStore.js"
import { storeToRefs } from "pinia"
import { onMounted } from "vue";

const { visibleGroup } = storeToRefs(useAnnotationStore())

let doubleTouchStartTimestamp = 0
onMounted(() => {
  document.querySelectorAll('button').forEach(button => {
    button.addEventListener('touchstart', (event) => {
      const now = +(new Date())
      if (doubleTouchStartTimestamp + 500 > now) {
        event.preventDefault()
      }
      doubleTouchStartTimestamp = now
    })
  })
})

</script>

<template>
  <!-- <div v-if="visibleGroup.images.length > 0" id="layers-schema">
    <img
      v-for="(image, index) in visibleGroup.images"
      :key="image.fileName"
      :src="`/assets/images/annotations/${visibleGroup.name}/${image.fileName}`"
      :style="
        'transform: translateY(' + index * 50 + 'px) skew(-45deg) scaleY(.4)'
      "
      :class="{ disabled: !image.isVisible }"
    />
  </div> -->
  <div :data-name="visibleGroup.name" class="group">
    <figure
      :style="'opacity: ' + visibleGroup.opacity"
      v-for="(image, index) in visibleGroup.images"
      :key="image.fileName"
    >
      <img
        :src="`/assets/images/annotations/${visibleGroup.name}/${image.fileName}`"
        alt=""
        class="layer"
        :class="{ unvisible: !image.isVisible }"
      />
    </figure>
  </div>
</template>

<style scoped>
#layers-schema {
  position: absolute;
  top: 10vh;
  left: 5vw;
  height: 12rem;
  width: 8rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
#layers-schema img {
  width: 5rem;
  height: 7rem;
  opacity: 1;
  border: 1px solid #000;
  filter: blur(0px);
}
#layers-schema img.disabled {
  opacity: 0.5;
  filter: blur(5px);
}
.group {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
figure {
  position: absolute;
  height: 100%;
}
img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
</style>
