<template>
  <div id="text-container">
    <h1>Allures anonymes</h1>
    <p>
      Ici sont présentées des formes, des choses.<br />
      Des toiles de maître et des chiffons ménagers, des sculptures souveraines
      et des cafetières quelconques, des poubelles, des fissures, des escaliers
      monumentaux et des canalisations. Au cœur des foyers, dans d'improbables
      cohabitations, on voit ainsi parfois se brouiller joyeusement des classes
      d'objets par ailleurs entretenues. Dans les lieux de vie des
      collectionneurs privés voisinent le rare et le commun.
    </p>
    <p>
      Marchandises qualifiées et classées, les choses, du reste, le demeurent
      là-bas, hors-champ, au-delà des cadres. Mais ici au sein des
      photographies, voici les choses allégées du poids de leurs valeurs
      mondaines. Découvertes comme formes parmi d'autres, elles n'ont plus
      d'autres noms.<br />
    </p>
    <p>
      <em>
        Absents… les titres des œuvres. Absentes, les signatures des auteurs.
        Absents, les noms des propriétaires. Absentes, toutes les personnes.
        Présentes, en revanche, les allures des choses anonymes.
      </em>
    </p>
    <!-- <h2>Peuples de formes</h2>
    <p>
      Les choses sans nom forment un peuple d'égaux, une foule éparse –
      <i>vulgus</i>, en latin. Les Beaux Arts y sont vulgaires et le vulgaire y
      est estimé. Dans le champ de l'objectif, les choses sont conviées pour
      leurs formes. Elles se marient selon d'extraordinaires affinités
      esthétiques ; se croisent et se cognent, se réfléchissent, se superposent
      et se juxtaposent, se composent jusqu’à n'en plus voir les limites – les
      délimitations – et jusqu’à n'en plus savoir les fins – les définitions et
      les finalités courantes. Fonctions et statuts résonnent au loin comme
      d'étranges souvenirs.
    </p>
    <h2>Idolâtrie</h2>
    <p>
      Est-il possible d'idolâtrer quelque chose ou quelqu'un et néanmoins d'en
      sentir justement la qualité ? Peut-être que l'idole accomplie est ce dont
      le fait n'importe plus. "Faite ce que vous voulez", dit l'adorant à
      l'adorée, et à celui qui l'adore, la Vénus peut faire n'importe quoi.
      Ainsi de telle peintre, idolâtrée au point que sa signature suffit à
      déclencher les applaudissements, qu'importe ce qu'elle signe. Si l'idole
      éblouie, si l'idolâtrie rend aveugle, on ne pourra voir vraiment l'art
      qu'à condition de s'en extraire.
    </p>
    <h2>Profanation</h2>
    <figure class="quote">
      <blockquote>Profaner, c'est restituer à l'usage commun.</blockquote>
      <figcaption>Giorgio Agamben, <cite>Profanation</cite></figcaption>
    </figure>
    <p>
      Art profane, d'autant plus sensible aux formes qu'il est étranger aux
      cultes d'ordinaire voués aux œuvres et qui empêche de voir. Comment voir
      ce qu'on Art qui peut les regarder de travers, leur jeter ses coups d'œil
      comme on voit en passant, les tordre dans des reflets bombés et étirés.
      Photographie espiègle, qui prélève en coupes nettes, qui se joue des
      délimitations ordinaires, avec ses cadres incisifs tranchant au beau
      milieu des choses pour faire ses propres montages. La photographie profane
      activement, qui par l'exposition rend à la vue commune ce dont la
      propriété la prive. Profane encore par la composition, en faisant place au
      banal à côté, sinon au-devant d'œuvres d'art réputées sacrées.
    </p>
    <h2>Des peintures et des spots</h2>
    <p>
      Si l'art est magique et sacré, la technique est par excellence rationnelle
      et profane. De là ce paradoxe que l'art se fait reconnaître généralement
      en dissimulant les techniques dont il dépend pourtant en réalité. Comme
      les <em>trucs</em> des magiciens, la technique est ce que les mises en
      scène généralement dissimulent.
    </p>
    <h2>Cendrier près d'un tableau</h2>
    <p>
      Esthétiquement soigné signifie en général esthétiquement contrôlé. Une
      cigarette est fumée non loin d'un tableau.
    </p>
    <hr />
    <p>
      Des collectionneurs amateurs, qui composent leurs intérieurs très
      précisément (un rayon de lumière au-dessus d'un interrupteur,
      reconnaissance)
    </p>
    <line></line>
    <p>Esthétique riche, manteau de fourrure (reconnaissance)</p>
    <p>Goût</p>
    <p>Désorganisation de la perspective, reconnaissance 113</p>
    <h2>Citations d'auteurs</h2>
    <figure>
      <blockquote>
        ce qui me préoccupe, c'est le type d'écran (fait de textes, de citations
        et de références extérieures) que tu sembles à tout prix, à certains
        moment, vouloir interposer entre toi et l'œuvre, une sorte de filtre
        solaire qui te protègerait de l'éclat de l'œuvre et préserverait les
        habitudes acquises dans lesquelles se fondent et se reconnaît notre
        communauté académique.
      </blockquote>
      <figcaption>Daniel Arasse, <cite>On n'y voit rien</cite></figcaption>
    </figure> -->
  </div>
</template>
