<script setup lang="ts">
import { useTopicStore } from "../../stores/topicStore.js"
import { storeToRefs } from "pinia"
import { computed } from "vue"

const { visibleTopic, visibleItem } = storeToRefs(useTopicStore())

const isText = computed(() => {
  return !visibleItem.value.fileName
})
</script>

<template>
  <div :id="isText ? 'text-container' : false" :data-name="visibleTopic.name">
    <figure :key="visibleItem.fileName">
      <img
        v-if="visibleItem.fileName"
        :src="`/assets/images/topics/${visibleTopic.name}/${visibleItem.fileName}`"
        alt=""
        class="layer"
      />
      <template v-else>
        <blockquote>
          {{ visibleItem.text }}
        </blockquote>
        <figcaption>{{ visibleItem.author }}</figcaption>
      </template>
    </figure>
  </div>
</template>

<style scoped>
.topic {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
img {
  height: 100vh;
  object-fit: contain;
}
</style>
